@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /* background-color: rgb(235, 231, 231); */
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: transparent;
}

li {
    list-style: none;
}

.top_header {
    display: flex;
    padding: 15px 10px;
}

.service_wrap {
    width: 25%;
    display: flex;
    line-height: 50px;
}

.service_img {
    height: 50px;
    width: 50px;
    border-radius: 45px;
    background-color: rgb(27, 216, 137);
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_text {
    padding-left: 30px;
}

.service_text p {
    text-transform: uppercase;
}

.service_text span {
    text-transform: uppercase;
    color: red;
}

.header_bottom {
    background-color: rgb(29, 190, 91);
    display: flex;
    position: relative;
}

.nav_item {
    float: left;
    text-transform: uppercase;
}

.nav_item a {
    color: gray;
    border-right: 1px solid rgb(19, 236, 200);
    line-height: 50px;
    font-weight: 500;
    padding: 12px 15px;
    color: white;
}

.search {
    display: flex;
    float: left;
    position: absolute;
    right: 50px;
    top: 10%;
}

.search_form {
    width: auto;
    width: 100%;
}

.search_icon {
    padding-top: 10px;
    padding-left: 10px;
}

.search_icon i {
    color: rgb(135, 140, 141);
    font-size: 20px;
}

.search_icon i:hover {
    color: rgb(163, 56, 56);
    font-size: 25px;
}

.search_form input {
    height: 40px;
    padding: 0 40px;
    border: 1px solid rgb(207, 203, 203);
}

.active {
    width: 100%;
}

.active img {
    width: 100%;
}

.list_img {
    width: 90%;
    margin: 0 4%;
    padding: 2% 0;
    display: flex;
}

.list_img img {
    width: 30%;
    margin: 0 1.67%;
}

.container {
    width: 90%;
    display: flex;
    margin: 0 5%;
}

.container_left {
    position: relative;
    width: 20%;
    background-color: rgb(247, 242, 242);
}

.container_right {
    width: 80%;
}

.container_right_header {
    width: 100%;
    padding: 2%;
    border-bottom: 2px solid gray;
    font-size: 20px;
    font-weight: 800;
}

.container_right_product {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.des_product {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 3% 2%;
    border: 1px gray solid;
}

.des_product span {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-top: 5%;
}

.price {
    padding-top: 5%;
    color: rgb(34, 204, 111);
    font-size: 8px;
}

.price del {
    color: grey;
    text-align: center;
}

.container_left_top {
    line-height: 30px;
    background-color: rgb(16, 196, 127);
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    padding: 5% 0;
}

.container_left_middle {
    position: absolute;
    left: 15%;
}

.container_left_middle li {
    margin-top: 17%;
}

.container_left_middle a {
    color: rgb(71, 66, 66);
}

.container_left_bottom {
    position: absolute;
    bottom: 0;
}

.select_product1 {
    margin: 5% 5%;
    width: 90%;
}

.select_product1_top {
    padding: 2%;
    font-size: 20px;
    font-weight: 800;
    border-bottom: 2px solid gray;
}

.select_product1_bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.des_product1 {
    width: 22%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 3% 2%;
    border: 1px gray solid;
}

.des_product1 span {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-top: 5%;
}